# Editor Config file. See http://editorconfig.org for more deets

# top-most editor config file
root = true

# Globals
[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
