.chaperone {
    position: fixed;
    z-index: 9999;
    bottom:-200px;
    left:0;
    right: 0;
    height: 200px;
    background-color: rgba(0,0,0,.85);
    border-top: 5px solid black;
    color: #fff;
    transition: all .3s;
}

body {
    transition: margin-bottom .3s;
}

.chaperone-active {
    margin-bottom: 200px;
}

.chaperone-active .chaperone {
    bottom:0;
}

.chaperone .chaperone__header,
.chaperone .chaperone__body,
.chaperone .chaperone__controls {
    padding: 0 15px;
}

.chaperone .chaperone__header .chaperone__progress {
    padding: 12px 0;
}

.chaperone .chaperone__header .close-chaperone {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    padding: 13px 15px;
}

/* need to replace */
.chaperone .chaperone__header .close-chaperone svg {
    fill: #fff;
}

.chaperone .chaperone__controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

.chaperone .chaperone__controls .chaperone-btn {
    box-sizing: border-box;
    width: 50%;
    margin:0;
    border-radius: 0;
    position: relative;
    display: block;
    float: left;
    padding: 8px 15px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    border: none;
}

.chaperone .chaperone__controls .chaperone-btn.hide {
    display: none;
}

.chaperone .chaperone__controls .chaperone-btn:first-of-type {
    border-right:2px solid #222;
}


.throbber {
    display: block;
    position: absolute;
    z-index: 9999;
    margin-left: -11px;
    margin-top: -11px;
    cursor: help;
}

.throbber .dot {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 32px;
    background: rgba( 255,255,255,0.7 );
    border: 1px solid #19A347;
}

.throbber .dot::after{
    content:'';
    display: block;
    position: absolute;
    z-index: -1;
    width: 18px;
    height: 18px;
    margin: 1px 0 0 1px;
    border-radius: 32px;
    border: 1px solid #19A347;
    -webkit-animation: throb 2s infinite;
    -moz-animation: throb 2s infinite;
    -o-animation: throb 2s infinite;
    animation: throb 2s infinite;
}

.throbber.active .dot {
    background: rgba(25,163,71,.7);
}

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1);
     opacity: 1;
  }
  100% {
      -webkit-transform:scale(2.5);
      opacity: 0;
  }
}

@-moz-keyframes throb {
  0% {
    -webkit-transform: scale(1);
     opacity: 1;
  }
  100% {
      -webkit-transform:scale(2.5);
      opacity: 0;
  }
}

@-o-keyframes throb {
  0% {
    -webkit-transform: scale(1);
     opacity: 1;
  }
  100% {
      -webkit-transform:scale(2.5);
      opacity: 0;
  }
}

@keyframes throb {
  0% {
    -webkit-transform: scale(1);
     opacity: 1;
  }
  100% {
      -webkit-transform:scale(2.5);
      opacity: 0;
  }
}

@media (min-width: 640px) {
    .chaperone .chaperone__header,
    .chaperone .chaperone__body,
    .chaperone .chaperone__controls{
        width: 60%;
        margin: 0 auto;
    }
    .chaperone .chaperone__controls {
        left: 20%;
        bottom: 18px;
        text-align: center;
    }

    .chaperone .chaperone__controls .chaperone-btn {
        float: none;
        border-radius: 3.5px;
        width: 150px;
        display: inline-block;
    }

}
